[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "docker/jupyter/server/docker-stacks"]
	path = docker/jupyter/server/docker-stacks
	url = git@github.com:jupyter/docker-stacks.git
