SERVICE_WORKDIR="/home/tyler/dotfiles/docker/jupyter/server/nvidia"
SERVICE_IMAGE_NAME=tylerspears/jupyterserver
SERVICE_IMAGE_TAG=nvidia
MOUNT_VOLUMES="/home/tyler/Projects:/home/jovyan/work /home/tyler/sync:/home/tyler/sync /srv/tmp:/srv/tmp /srv/data:/srv/data"
CONDA_PREFIX=/opt/miniconda

