SERVICE_WORKDIR="~/dotfiles/docker/jupyter/server/nvidia"
SERVICE_IMAGE_NAME=tylerspears/jupyterlab
SERVICE_IMAGE_TAG=nvidia
MOUNT_VOLUMES="/srv/tmp:/srv/tmp /srv/data:/srv/data ~/Projects:/home/jovyan/work ~/sync:~/sync"

